.zoom-controls {
    position: absolute;
    right: 0px;
    bottom: 105px;
    display: block;
    z-index: 2500000;
    color: #CDDC39;
    font-size: 32px;
}

    .zoom-controls li {
        display: inline-block;
        position:absolute;
        right:-80px;
    }

        .zoom-controls li:hover {
            color: #FFF;
            cursor:pointer;
        }
